
// Media queries breakpoints.
$breakpoint-screen: 1140px;
$breakpoint-tablet: 720px;
$breakpoint-phone: 540px;

//
// Bootstrap.
//

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

//
// Global style.
//

body {
    font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #959595;
}

.no-padding {
    padding: 0 !important;
}

.container {
    max-width: 1140px;
    width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.stick-to-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.text-center {
    text-align: center;
}

//
// Header.
//

.app-header {
	margin-bottom: 0;
	background-color: #fefefe;
    padding: .7rem 1rem;
    
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;

        @media screen and (min-width: 800px) {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        .title {
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            line-height: inherit;
            white-space: nowrap;
            
            a {
                font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-transform: uppercase;
                font-size: 1.2rem;
                color: #303030;
            }
        }

        .menu {
            @media screen and (min-width: 800px) {
                display: -ms-flexbox !important;
                display: flex !important;
            }

            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            
            .menu-content {
                display: flex;
                list-style: none;
                -ms-flex-direction: column;
                flex-direction: column;
                padding-left: 0;

                @media screen and (min-width: 800px) {
                    -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
                }

                .menu-item {
                    a {
                        color: #666;
                        padding: 0.5rem;
                        font-weight: 500;
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}

//
// Footer
//

.app-footer {

    .social-links {
        a {
            padding: 0.5rem;
            color: #666;
        }
    }

}