<header class="app-header">
    <div class="container">
    <nav class="navbar no-padding">
        <div class="title">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a>
        </div>
        <div class="menu stick-to-end">
        <ul class="menu-content">
            <li class="menu-item"><a href="/portfolio">Portfolio</a></li>
            <li class="menu-item"><a href="/about">À Propos</a></li>
            <li class="menu-item"><a href="mailto:contact.kevinmasson@gmail.com">Contact</a></li>
        </ul>
        </div>
    </nav>
    </div>
</header>